body {
  text-align:center;
  background-color: #1D1A31;
}


#level-title {
  font-family: 'Press Start 2P';
  font-size: 3rem;
  margin:  5%;
  color: #C1A5A9;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}


.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid grey;
  background-color: red;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.lpurp {
  background-color: #e6e6fa;
}

.lblue {
  background-color: #b0c4de;
}

.lpink {
  background-color: #ffddf4;
}

.lteal {
  background-color: #c9ffe5;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: white;
}
